@font-face {
  font-family: 'trees';
  src: url('NewYorkCityTrees.otf') format("opentype"), url('NewYorkCityTreesRegular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
    font-family: 'monti';
    src: url('MontiSans-Regular.woff2') format('woff2'),
        url('MontiSans-Regular.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'neeta';
    src: url('neetainit-Regular.woff2') format('woff2'),
        url('neetainit-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'gerry';
    src: url('GerryRegular.woff2') format('woff2'),
        url('GerryRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'mutt';
    src: url('TheRichardMuttCase-45degreefr.woff2') format('woff2'),
        url('TheRichardMuttCase-45degreefr.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'princeton';
    src: url('PRINCETONCLEAN-Regular.woff2') format('woff2'),
        url('PRINCETONCLEAN-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'utopian';
    src: url('Utopian-Regular.woff2') format('woff2'),
        url('Utopian-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'palermo';
    src: url('Palermo-Regular.woff2') format('woff2'),
        url('Palermo-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

