:root {
  --font-size: 2.4rem;
  --font-size--mobile: 1.8rem;
  --line-height: 1.4;

  --margin: 2.5rem;
  --margin--mobile: 1.25rem;

  --font-family: 'Times New Roman', serif;
}

/* RESET/GLOBAL */
*,
*:after,
*:before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%; /* Now 10px = 1rem! */
  -webkit-text-size-adjust: 100%;
}

body {
  font-family: var(--font-family);
  font-size: var(--font-size);
  line-height: var(--line-height);
  background-color: #fff;
  color: #000;
  margin: var(--margin);
}

ul {
  list-style-type: none;
}

strong, b {
  font-weight: bold;
}

img {
  display: block;
  width: 100%;
}

a {
  color: currentColor;
  text-decoration: underline;
}

/* KirbyText */
.text {
}

.text p,
.text figure,
.text ul,
.text ol, p {
  margin-bottom: 1em;
}

.text li, .text li p {
  margin-left: 1em;
  text-indent: -1em;
}

.text hr {
  display: none;
}

.text > *:first-child {
  margin-top: 0;
}

.text a {
  text-decoration: underline;
}

.text img {
  display: block;
  width: 100%;
}

.text iframe {
  border: none;
}

.text sup {
  font-size: 0.6em;
}

/* Typography */
.font-0 {
  font-family: var(--font-family);
}

.font-1 {
  font-family: 'monti', serif;
}

.font-2 {
  font-family: 'palermo', serif;
}

.font-3 {
  font-family: 'neeta', serif;
  text-transform: lowercase;
}

.font-4, .text h1 {
  font-family: 'gerry', serif;
}

.font-5 {
  font-family: 'mutt', serif;
}

.font-6 {
  font-family: 'princeton', serif;
}

.font-7 {
  font-family: 'utopian', serif;
  text-transform: uppercase;
}

.font-8 {
  font-family: 'trees', serif;
}

.font__preload {
  position: fixed;
  top: -100vh;
  left: -100vh;
  visibility: hidden;
  opacity: 0;
}

/* Nav */
nav {
  position: fixed;
  top: var(--margin);
  left: var(--margin);
}

.navigation__item a, .navigation__item--home a {
  text-decoration: none;
}

.navigation__item.active {
  text-decoration: underline;
}

/* Layout */
.layout-wrapper {
  margin: var(--margin);
}

.layout-wrapper--contained {
  margin-top: var(--margin);
  margin-left: auto;
  margin-right: auto;
  max-width: 700px;
}

/* Exhibition */
.exhibition__gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  margin-top: calc(-1 * var(--margin) + 1em);
  margin-left: calc(-1 * var(--margin));
}

.exhibition__gallery__item {
  width: 200px;
  margin-top: var(--margin);
  margin-left: var(--margin);
}

.exhibition__gallery__item a {
  text-decoration: none;
}

.exhibition__gallery__item__caption {
  margin-top: .5em;
  font-size: .8em;
}

@media screen and (max-width: 1024px) {
  body {
    font-size: var(--font-size--mobile);
  }
  nav {
    position: initial;
  }

  .exhibition__gallery__item {
    width: calc(50% - var(--margin));
  }
}